{% extends 'base.html.twig' %}

{% block title %}New ImagenXAlbum{% endblock %}

{% block body %}
    <h1>Create new ImagenXAlbum</h1>

    {{ include('imagen_x_album/_form.html.twig') }}

    <a href="{{ path('imagen_x_album_index') }}">back to list</a>
{% endblock %}
